<ul id="crm-menu">
   <li><a href="@Url.RouteUrl("Plugin.Krtya.CRM.Dashboard")"><img src="@Url.Content("~/Plugins/Krtya.CRM/Content/images/ic_crm_dashboard.png")" alt="" />Dashboard</a></li>
  <li><a href="@Url.RouteUrl("Plugin.Krtya.CRM.Company")"><img src="@Url.Content("~/Plugins/Krtya.CRM/Content/images/ic_crm_company.png")" alt="" />Company</a></li>
  <li><a href="@Url.RouteUrl("Plugin.Krtya.CRM.Person")"><img src="@Url.Content("~/Plugins/Krtya.CRM/Content/images/ic_crm_person.png")" alt="" />Person</a></li>
  <li><a href="#news"><img src="@Url.Content("~/Plugins/Krtya.CRM/Content/images/ic_crm_opportunity.png")" alt="" />Opportunity</a></li>
</ul>
<script>
    $(document).ready(function () {
        $("#crm-menu").kendoMenu({
            orientation: "vertical"
        });
    });
</script>
<style>
 
#crm-menu /* for all horizontal menus */
{
   display: inline-block;
}
</style>

